@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142.8 5% 95%;
    --foreground: 142.8 5% 3%;
    --card: 142.8 5% 90%;
    --card-foreground: 142.8 5% 10%;
    --popover: 142.8 5% 95%;
    --popover-foreground: 142.8 95% 3%;
    --primary: 142.8 64.2% 24.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142.8 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 104.80000000000001 10% 85%;
    --muted-foreground: 142.8 5% 35%;
    --accent: 104.80000000000001 10% 80%;
    --accent-foreground: 142.8 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 142.8 5% 90%;
    --border: 142.8 20% 50%;
    --input: 142.8 20% 18%;
    --ring: 142.8 64.2% 24.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 142.8 10% 5%;
    --foreground: 142.8 5% 90%;
    --card: 142.8 5% 3%;
    --card-foreground: 142.8 5% 90%;
    --popover: 142.8 10% 5%;
    --popover-foreground: 142.8 5% 90%;
    --primary: 142.8 64.2% 24.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142.8 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104.80000000000001 10% 15%;
    --muted-foreground: 142.8 5% 60%;
    --accent: 104.80000000000001 10% 15%;
    --accent-foreground: 142.8 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 142.8 5% 90%;
    --border: 142.8 20% 18%;
    --input: 142.8 20% 18%;
    --ring: 142.8 64.2% 24.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}
